<html ng-app="root">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="root.js"></script>
</head>
<body>
	<div ng-controller="index">
		<div>
			Favorite word: <input type="text" ng-model="favoriteWord" />
			{{favoriteWord}}
		</div>
		<div>
			Favorite color:
			<input type="radio" name="fc" value="Red" ng-model="favoriteColor">Red</input>
			<input type="radio" name="fc" value="Green" ng-model="favoriteColor">Green</input>
			<input type="radio" name="fc" value="Yellow" ng-model="favoriteColor">Yellow</input>
			<input type="radio" name="fc" value="Blue" ng-model="favoriteColor">Blue</input>
			{{favoriteColor}}
			- [Display selection here]
		</div>
		<div>
			Favorite shape:
			<select ng-model="favoriteShape">
				<option value="Circle">Circle</option>
				<option value="Triangle">Triangle</option>
				<option value="Square">Square</option>
			</select>
			- [Display selection here]
			{{favoriteShape}}
		</div>
	</div>
</body>
</html>